@model SubjectsModel

<input type="hidden" asp-for="SubjectForm.SubjectId" />
@Html.AntiForgeryToken();
<div class="col-3 my-2">
    <label asp-for="SubjectForm.CodeNo"></label>
    <input class="form-control" asp-for="SubjectForm.CodeNo" />
</div>
<div class="col-12"></div>
<div class="col-12 my-2">
    <label asp-for="SubjectForm.DescriptiveTitle"></label>
    <input class="form-control" asp-for="SubjectForm.DescriptiveTitle" />
</div>
<div class="col-6 my-2">
    <label asp-for="SubjectForm.Units"></label>
    <select class="form-control" asp-for="SubjectForm.Units" asp-items="Model.SelectUnits"></select>
</div>
<div class="col-6 my-2">
    <label asp-for="SubjectForm.ClassType"></label>
    <select class="form-control" asp-for="SubjectForm.ClassType" asp-items="Model.SubjectTypes"></select>
</div>
<div class="col-12 my-2">
    <label asp-for="SubjectForm.PrerequisiteSubjectCodes"></label>
    <input type="hidden" id="prerequisite" name="prerequisite" value="@(Model.SubjectForm.PrerequisiteSubjectCodes == null ? "None" : Model.SubjectForm.PrerequisiteSubjectCodes)" />
    <select class="form-control" asp-for="SubjectForm.PrerequisiteSubjectCodes"></select>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
</div>