@page
@model IndexModel


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Code No.</th>
                    <th>Descriptive Title</th>
                    <th>Units</th>
                    <th>Type</th>
                    <th>Pre-requisite</th>
                    <th>Grade</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>GE – MM</td>
                    <td>Mathematics in the Modern World </td>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
